@import "../global/variables.scss";

.catalog {
  display: flex;
  flex-direction: column;

  padding: 50px 20px 44px;

  background-color: $lightest-grey;
}

.catalog__title {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 80px 20px 40px;
  }

  .catalog__title {
    font-size: 42px;
    line-height: 64px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 40px 120px;
  }

  .catalog__badge,
  .catalog__title {
    width: 100%;
  }

  .catalog__title {
    margin-bottom: 40px;
  }
}
