@import "../global/variables.scss";

.control {
  position: relative;

  display: block;
  padding-left: 34px;
}

.control__mark {
  position: absolute;
  left: 0;

  border: 2px $base-grey solid;
}

.control {
  &--radio .control__mark {
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: $base-white;

    &::before {
      $element-width: 16px;
      $element-height: 16px;

      position: absolute;
      top: calc(50% - $element-height / 2);
      left: calc(50% - $element-width / 2);

      width: $element-width;
      height: $element-height;

      border-radius: 50%;

      content: "";
    }
  }

  &--checkbox .control__mark {
    width: 42px;
    height: 24px;

    background-color: $base-grey;
    border-radius: 12px;

    &::before {
      $element-width: 21px;
      $element-height: 21px;

      position: absolute;

      background-color: $base-white;

      top: calc(50% - $element-height / 2);
      left: 0;

      width: $element-width;
      height: $element-height;

      border-radius: 50%;

      content: "";
      transition: .4s;
    }
  }
}

.control__label {
  display: block;

  font-size: 16px;
  line-height: 24px;
}

.control--radio .control__input {
  &:hover + .control__mark,
  &:focus + .control__mark {
    border-color: $primary-lighter;

    &::before {
      background-color: $primary-opacity-025;
    }
  }

  &:checked + .control__mark {
    border-color: $base-primary;

    &::before {
      background-color: $base-primary;
    }
  }

  &:disabled + .control__mark {
    border-color: $light-grey;
  }

  &:disabled + .control__mark + .control__label {
    color: $base-grey;
  }

  &:disabled:checked + .control__mark {
    border-color: $light-grey;

    &::before {
      background-color: $light-grey;
    }
  }
}

.control--checkbox .control__input {
  &:hover + .control__mark,
  &:focus + .control__mark {
    background-color: $primary-opacity-025;
    border-color: $primary-lighter;
  }

  &:checked + .control__mark {
    background-color: $base-primary;
    border-color: $base-primary;

    &::before {
      left: calc(100% - 21px);
    }
  }

  &:disabled + .control__mark {
    background-color: $light-grey;
    border-color: $light-grey;
  }

  &:disabled + .control__mark + .control__label {
    color: $base-grey;
  }

  &:disabled:checked + .control__mark {
    &::before {
      background-color: $base-grey;
    }
  }
}
